body{
    background-color: rgb(230,230,255);
    min-width:  550px;
}

p{
    margin: 0;
}

.main_container{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.first_part{
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: white;
    border-radius: 5px;
    width: 55%;
    min-width:420px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}
.second_part{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    border-radius: 5px;
    width: 35%;
    min-width: 250px;
    min-height: 200px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

.main_line{
    width: 96%;
    height: 25%;
    padding: 12px;
    border-bottom: 1px rgb(230,230,255) solid;
}

.main_line_content{
    height: 30px;
    display: flex;
    flex-direction: row;
}

.text_input{
    width: 85%;
    padding: 5px;
    border-radius: 2px;
    border: 1px rgb(230,230,255) solid;
}
.Button_for_text{
    width: 20%;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: blue;
    border-radius: 2px;
    border: blue;
    filter: opacity(75%);
}

.products_lines{
    border: 2px silver;
    padding: 5px 12px 5px 12px;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px rgb(230,230,255) solid;
}
.left_name{
    font-size: 17px;
    width: 96%;
    height: 25%;
    padding-top: 15px;
    padding-left: 20px;
    font-weight: bold;
    border-bottom: 1px rgb(230,230,255) solid;
}
.left_info{
    font-size: 14px;
    display: flex;
    height: 25%;
    padding: 10px;
    flex-direction: row;
    justify-content: start;
    border-bottom: 1px rgb(230,230,255) solid;
}
.bought_name{
    font-size: 17px;
    font-weight: bold;
    width: 96%;
    height: 25%;
    padding-top: 15px;
    padding-left: 20px;
    border-bottom: 1px rgb(230,230,255) solid;
}
.bought_info{
    padding: 10px;
    font-size: 14px;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    border-bottom: 1px rgb(230,230,255) solid;
}

.prod{
    background-color: silver;
    border-radius: 2px;
    font-size: 10px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left_number{
    margin-top: 3px;
    margin-right: 3px;
    background-color: orangered;
    border-radius: 45px;
    border-color: orangered;
    color: white;
    font-weight: bold;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    height: 17px;
    width: 20px;
    filter: opacity(75%);
}

.prod_text{
    padding-top: 8px;
    margin-right: 3px;
    margin-left: 3px;
}

.more {
    border-radius: 45px;
    border-color: limegreen;
    color: white;
    height: 26px;
    width: 26px;
    background-color: limegreen;
    filter: opacity(75%);
}

.less{
    border-radius: 45px;
    border-color: indianred;
    color: white;
    height: 26px;
    width: 26px;
    background-color: indianred;
    filter: opacity(75%);
}

.product{
    width: 35%;
    display: flex;
    padding-top: 7px;
    justify-content: flex-start;
}

.number_of{
    width: 30%;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.number{
    display: flex;
    justify-content: center;
    margin-left: 7px;
    margin-right: 7px;
    padding-top: 5px;
    width: 25px;
    border-color: silver;
    background-color: silver;
    border-radius: 3px;
    font-size: 11px;
}

.bought{
    width: 35%;
    display: flex;
    justify-content: flex-end;
}

.buy{
    width: 70px;
    border-radius: 5px;
    background-color: silver;
    font-size: 11px;
}

.delete{
    font-size: 14px;
    font-weight: bold;
    width: 30px;
    background-color: red;
    border-color: red;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
    filter: opacity(75%);
}

.beidzh{
    display: flex;
    flex-direction: column;
    bottom: -65px;
    right: 60px;
    height: 90px;
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    border-color: #66218a;
    background-color: #66218a;
    position: absolute;
    transition: all 500ms ease;
}

.beidzh:hover{
    transform: translateY(-40px);
    background-color: blue;
    border-color: blue;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.info{display: flex;
    justify-content: left;
    font-size: 12px;
    font-weight: bold;
}

.tooltip {
    border-bottom: 1px dotted #0077AA;
    cursor: help;
}

.tooltip::after {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px 8px 8px 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #FFF;
    content: attr(data-tooltip); /* Главная часть кода, определяющая содержимое всплывающей подсказки */
    margin-top: -24px;
    opacity: 0; /* Наш элемент прозрачен... */
    padding: 3px 7px;
    position: absolute;
    visibility: hidden; /* ...и скрыт. */

    transition: all 0.4s ease-in-out; /* Добавить плавности по вкусу */
}

.tooltip:hover::after {
    opacity: 1; /* Показываем его */
    visibility: visible;
}